# ======================================================
# UV Package Manager
# ======================================================
UV_LINK_MODE=copy

# ======================================================
# API
# ======================================================
API_BASE_PATH=/api/rabbitmq
API_PORT=14101

# ======================================================
# RabbitMQ
# ======================================================
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=15672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password

# ======================================================
# Runtime
# ======================================================
ENV=dev

# ======================================================
# Debug
# ======================================================
DEBUG_MODE=False

# ======================================================
# Logging
# ======================================================
LOG_DIR="logs"
LOG_FILE="app.log"
LOG_JSON_FILE="app.json"

LOG_TO_FILE=True
LOG_TO_CONSOLE=True
LOG_TO_JSON=False

LOG_ROTATION="50 MB"
LOG_RETENTION="30 days"

LOG_LEVEL_FILE="INFO"
LOG_LEVEL_CONSOLE="INFO"

LOG_ASYNC_LOGGING=True
LOG_CAPTURE_EXCEPTIONS=True

LOG_CUSTOM_SINKS=[]
